.carta{
    background-color: rgb(210, 236, 151);
    border: 10px solid rgb(156, 215, 96);
    border-radius: 2%;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.212);
    transition: 220ms;
}
.carta:hover{
    transform: scale(1.05);
    box-shadow:
       inset 0 -3em 3em rgba(0, 0, 0, 0.212),
             0 0  0 2px rgba(147, 222, 93, 0.758),
             0px 0px 10px 10px rgba(123, 255, 97, 0.696);

}
.cardTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.cardTop h2{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: rgb(80, 138, 44);
}
.names{
    padding-top: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(54, 115, 37);
}
.names h1{
    padding: 3px;
    font-size: 1rem;
    border: 2px solid rgb(132, 182, 81);
    border-radius: 8px;
    background-color: rgb(173, 230, 117);
    transition: 220ms;
}
.names h1:hover{
    background-color: rgb(101, 179, 68);
    color: rgb(162, 237, 140);
}
h2{
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}
.imagen{
    margin-top: 4px;
    width: 8rem;
    height: auto;
    border: 4px solid rgb(125, 189, 79);
    border-radius: 2%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(147, 222, 93),
             0px 4px 10px 7px rgba(0,0,0,0.3);
}
.boton{
    border: solid rgb(132, 182, 81) 2px;
    border-radius: 100px;
    scale: 70%;
    background-color: rgb(173, 230, 117);
    color: rgb(54, 115, 37);
    transition: 110ms;
}
.boton:hover{
    background-color: rgb(217, 255, 0);
    border: solid rgba(74, 133, 44, 0.804) 2px;
    color: rgb(72, 109, 42);
    scale: 80%;
}
.buttonFav{
    background-color: rgb(173, 230, 117);
    border: solid rgb(132, 182, 81);
    border-radius: 100px;
    scale: 85%;
    padding: 1px;
    transition: 220ms;
}
.buttonFav:hover{
    background-color: rgb(101, 179, 68);
    scale: 90%;
}