.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.128);
}
.searchAndFavs{
    display: flex;
    flex-direction: row;
}
.logoAndAbout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.logoEspacio{
    width: 18%;
    text-decoration: none;
}
.logo{
    width: 100%;
}
.aboutBtn{
    background-color: rgba(154, 255, 66, 0.055);
    padding: 2px 8px;
    border: solid rgb(152, 236, 69) 1px;
    border-radius: 100px;
    margin-top: 2%;
}
.about{
    text-decoration: none;
    color: rgb(121, 238, 63);
}