.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.128);
}
.searchAndFavs{
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    padding-right: 2%;
}
.logoAndAbout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.logoEspacio{
    width: 18%;
    text-decoration: none;
}
.logo{
    width: 100%;
}
.aboutFavBtns{
    background-color: rgba(154, 255, 66, 0.055);
    border: solid rgb(152, 236, 69) 1px;
    border-radius: 100px;
}
.aboutFav{
    text-decoration: none;
    color: rgb(121, 238, 63);
}
hr{
    border: solid rgb(121, 238, 63) 1px;
    height: 50%;
}